services:
  - type: web
    name: sport-backend
    env: go
    buildCommand: go build -o app

    startCommand: ./app
    envVars:
      - key: PORT
        value: 10000
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
